.cart-overview {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.3);

	.cart-container {
		position: absolute;
		width: 360px;
		height: 100%;
		right: 0;
		top: 0;
		background-color: #ffffff;
		overflow-y: auto;
		padding: 20px;
	}

	.cart-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--main-border-color);

		p {
			font-size: 1.5em;
			font-weight: bold;
		}

		.cart-close {
			cursor: pointer;
			font-size: 1.7em;
			&:hover {
				color: red;
			}
		}
	}

	.cart-body {
		margin-top: 20px;
	}
}
