.cart-item-container {
	display: flex;
	margin-bottom: 20px;

	.cart-item-image-wrapper {
		width: 25%;
		display: flex;
		align-items: center;

		img {
			width: 100%;
		}
	}

	.cart-item-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;

		.cart-item-title {
			font-weight: bold;
		}

		p {
			padding: 0 10px 5px 10px;
			margin: 0;
		}
	}

	.remove-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5%;

		span {
			cursor: pointer;
			user-select: none;
			font-size: 1.5em;

			&:hover {
				color: red;
			}
		}
	}
}
