@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--main-border-color: #cccccc;
	--black: #000000;
	--white: #ffffff;
	--faded: #ccd1cf;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-width: 360px;
}
